<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_da/da07_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 모듈 import

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# mpg 데이터 셋

In [2]:
mpg = sns.load_dataset('mpg')

In [3]:
mpg.info()
# data type, (row) index, columns, memory

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [4]:
mpg.head()  # mpg.iloc[:5]

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

In [5]:
mpg.iloc[-5:]  # mpg.tail()

      mpg  cylinders  displacement  ...  model_year  origin             name
393  27.0          4         140.0  ...          82     usa  ford mustang gl
394  44.0          4          97.0  ...          82  europe        vw pickup
395  32.0          4         135.0  ...          82     usa    dodge rampage
396  28.0          4         120.0  ...          82     usa      ford ranger
397  31.0          4         119.0  ...          82     usa       chevy s-10

[5 rows x 9 columns]

In [6]:
mpg.shape

(398, 9)

In [7]:
mpg.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [8]:
mpg.describe()

              mpg   cylinders  ...  acceleration  model_year
count  398.000000  398.000000  ...    398.000000  398.000000
mean    23.514573    5.454774  ...     15.568090   76.010050
std      7.815984    1.701004  ...      2.757689    3.697627
min      9.000000    3.000000  ...      8.000000   70.000000
25%     17.500000    4.000000  ...     13.825000   73.000000
50%     23.000000    4.000000  ...     15.500000   76.000000
75%     29.000000    8.000000  ...     17.175000   79.000000
max     46.600000    8.000000  ...     24.800000   82.000000

[8 rows x 7 columns]

In [9]:
mpg['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

In [10]:
mpg['origin'].value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

In [11]:
mpg['name'].value_counts()

ford pinto                     6
toyota corolla                 5
ford maverick                  5
amc matador                    5
toyota corona                  4
                              ..
dodge colt hatchback custom    1
dodge st. regis                1
toyota corolla 1600 (sw)       1
honda civic 1500 gl            1
chevy s-10                     1
Name: name, Length: 305, dtype: int64

* 2개의 연속형 변수 간의 상관 관계: scatter plot
    * mpg(연비) ~ displacement(배기량) scatter plot
    * 2x2 Subplot들을 생성
        * mpg ~ cylinder scatter
        * mpg ~ horsepower scatter
        * mpg ~ weight scatter
        * mpg ~ acceleration scatter