<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_da/da09_gapminder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* github에 저장된 gapminder.tsv 파일을 읽고, DataFrame 생성하세요.

In [ ]:
file_path = 'https://github.com/JakeOh/202105_itw_bd26/raw/main/datasets/gapminder.tsv'

* DataFrame의 정보를 출력하세요.

* DataFrame에서 첫 5개 row와 마지막 5개 row를 출력하세요.

* DataFrame에서 숫자 타입 변수들의 기술 통계량을 출력하세요.

* DataFrame에 있는 국가 이름의 숫자를 찾으세요.

* DataFrame에 있는 (중복되지 않는) 모든 대륙 이름들을 찾으세요.

* DataFrame에 있는 연도의 숫자를 찾으세요.

* DataFrame에서 국가 이름, 연도, 1인당 GDP 컬럼을 선택하세요.

* DataFrame에서 1인당 GDP의 최솟값, 최댓값을 찾으세요.

* DataFrame에서 1인당 GDP가 최소/최대인 row를 찾으세요.

* DataFrame에서 기대수명(lifeExp)의 최솟값/최댓값을 찾으세요.

* DataFrame에서 기대수명(lifeExp)이 최소/최대인 row를 찾으세요.

* 연도별 기대수명(lifeExp)의 평균을 출력하세요.

* 연도별 기대수명(lifeExp)의 평균을 그래프로 그리세요.

* 연도별 1인당 GDP의 평균을 출력하세요.

* 연도별 1인당 GDP의 평균을 그래프로 그리세요.

* 연도별 전세계 인구를 출력하세요.

* 연도별 전세계 인구를 그래프로 그리세요.

* 연도별 대륙별 전세계 인구를 출력하세요

* 연도별 대륙별 전세계 인구를 그래프로 그리세요.

* 대한민국의 레코드만 출력하세요.