<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_da/da10_str.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrame의 문자열 컬럼 다루기

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 파일이 저장된 경로
file_path = 'https://github.com/wesm/pydata-book/raw/2nd-edition/datasets/movielens/movies.dat'

* `pd.read_csv` 함수를 사용해서 movies.dat 파일을 읽고 DataFrame 생성
* 데이터프레임 정보, head, ...
* 장르가 'Animation'인 영화는 몇 개?
* 장르가 로맨틱 코미디인 영화(Ramance & Comdey) 영화는 몇 개?
* 연도별 영화 개봉 숫자, 시각화

In [3]:
# 데이터프레임의 컬럼 이름으로 사용할 리스트
col_names = ['movie_id', 'title', 'genres']

In [6]:
movies = pd.read_csv(file_path, 
                     sep='::',           # sep=구분자(seperator). 값들을 구분하기 위해 사용된 문자열.
                     names=col_names,    # names=컬럼 이름으로 사용할 리스트.
                     encoding='cp1252',  # encoding=파일의 문자열 저장 방식.
                     engine='python')    # ParserWarning을 제거하기 위해서.

* seperator
    * `','`: 쉼표
    * `'\t'`: 탭 문자
    * `r'\s+'`: 한 글자 이상의 공백을 의미하는 정규 표현식(regular expression)
* encoding
    * `utf-8`: Linux, MacOS, Unix OS에서 기본으로 사용되는 문자열 저장 방식.
    * `cp949`: 한글 MS Windows에서 기본으로 사용되는 문자열 저장 방식.
    * `cp1252`: 영문 MS Windows에서 기본으로 사용되는 문자열 저장 방식.

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   title     3883 non-null   object
 2   genres    3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [8]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [9]:
movies.tail()

      movie_id                       title          genres
3878      3948     Meet the Parents (2000)          Comedy
3879      3949  Requiem for a Dream (2000)           Drama
3880      3950            Tigerland (2000)           Drama
3881      3951     Two Family House (2000)           Drama
3882      3952       Contender, The (2000)  Drama|Thriller

In [12]:
# Animation 장르의 영화들 - genres 컬럼의 문자열이 'Animation'을 포함
animations = movies[movies.genres.str.contains('Animation')]
animations

      movie_id  ...                                genres
0            1  ...           Animation|Children's|Comedy
12          13  ...                  Animation|Children's
47          48  ...  Animation|Children's|Musical|Romance
236        239  ...   Animation|Children's|Comedy|Romance
241        244  ...                  Animation|Children's
...        ...  ...                                   ...
3690      3759  ...          Animation|Children's|Musical
3706      3775  ...          Animation|Children's|Musical
3707      3776  ...          Animation|Children's|Musical
3730      3799  ...                  Animation|Children's
3875      3945  ...        Adventure|Animation|Children's

[105 rows x 3 columns]

In [13]:
len(animations)

105

In [16]:
# 로맨틱 코미디 - (Romance & Comedy)
romantic_comedies = movies[(movies.genres.str.contains('Romance')) & 
                           (movies.genres.str.contains('Comedy'))]
romantic_comedies

      movie_id                           title                genres
2            3         Grumpier Old Men (1995)        Comedy|Romance
6            7                  Sabrina (1995)        Comedy|Romance
10          11  American President, The (1995)  Comedy|Drama|Romance
38          39                 Clueless (1995)        Comedy|Romance
63          64            Two if by Sea (1996)        Comedy|Romance
...        ...                             ...                   ...
3679      3748               Match, The (1999)        Comedy|Romance
3759      3829          Mad About Mambo (2000)        Comedy|Romance
3804      3874     Couch in New York, A (1996)        Comedy|Romance
3815      3885               Love & Sex (2000)        Comedy|Romance
3839      3909             Woman on Top (2000)        Comedy|Romance

[204 rows x 3 columns]

In [17]:
len(romantic_comedies)

204