<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_da/da18_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# JSON

* JSON(JavaScript Object Notations): 자바스크립트 객체 표현법
* `{key1: value1, key2: value2, ...}` 형식의 문자열
* Python의 `dict` 클래스 객체의 문자열 표현과 비슷
* `json` 모듈: **JSON** 형식 **문자열(str)** <---> **`dict`** 타입 **객체(object)**
    * `json.dumps(obj)`: Python 객체 obj를 JSON 형식의 문자열로 변환(serialize, 직렬화)해서 변환된 문자열을 리턴.
    * `json.loads(s)`: JSON 형식의 문자열 s를 Python 객체로 변환(deserialize, 역직렬화)해서 변환된 파이썬 객체를 리턴.
    * `json.dump(obj, fp)`: Python 객체 obj를 JSON 형식의 문자열로 변환해서 파일fp에 씀(write).
    * `json.load(fp)`: 파일 fp에서 JSON 형식의 문자열을 읽어서 Python 객체로 변환해서, 변환된 객체를 리턴.

In [1]:
import json  # JSON 읽기/쓰기 기능을 가지고 있는 파이썬 기본 모듈
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# json.dumps(obj): Python object ---> JSON formatted string (Serialize, 직렬화)
person = {'name': '홍길동', 
          'age': 16,
          'phones': ['02-1111-2222', '010-3333-4444']}

In [3]:
person

{'age': 16, 'name': '홍길동', 'phones': ['02-1111-2222', '010-3333-4444']}

In [4]:
type(person)  # person은 파이썬 dict 클래스 타입의 객체

dict

In [5]:
person_json = json.dumps(person)
person_json

'{"name": "\\ud64d\\uae38\\ub3d9", "age": 16, "phones": ["02-1111-2222", "010-3333-4444"]}'

In [8]:
type(person_json)  # json_dumps의 리턴 타입은 str

str

In [6]:
# json.loads(s): JSON formatted string ---> Python object (Deserialize, 역직렬화)
result = json.loads(person_json)
result

{'age': 16, 'name': '홍길동', 'phones': ['02-1111-2222', '010-3333-4444']}

In [7]:
type(result)

dict

## JSON 쓰기/읽기

In [9]:
with open('gildong.json', mode='w') as f:  # 파일을 텍스트 쓰기(wt) 모드로 오픈
    f.write(person_json)  # 문자열을 파일에 씀
# with ~ as 구문 종료 후 f.close() 자동 호출됨.

In [11]:
with open('gildong.json', mode='r') as f:  # 파일을 텍스트 읽기(rt) 모드로 오픈
    line = f.readline()  # 파일에서 첫번째 줄을 읽음
    print(line)  # 파일에서 읽은 JSON 포맷의 문자열
    gildong = json.loads(line)  # str ---> dict : deserialize
    print(type(gildong))
    print(gildong)

{"name": "\ud64d\uae38\ub3d9", "age": 16, "phones": ["02-1111-2222", "010-3333-4444"]}
<class 'dict'>
{'name': '홍길동', 'age': 16, 'phones': ['02-1111-2222', '010-3333-4444']}

In [13]:
# JSON 포맷의 문자열이 한줄씩 저장된 파일
with open('movies.json', mode='w') as f:
    # dict 객체 생성
    movie1 = {'mid': 1, 'title': '모가디슈', 'genre': 'action'}
    movie2 = {'mid': 2, 'title': 'black widow'}
    movie3 = {'mid': 3, 'title': '씽크홀', 'genre': 'comedy'}
    # dict ---> JSON formatted string
    m1_s = json.dumps(movie1)
    m2_s = json.dumps(movie2)
    m3_s = json.dumps(movie3)
    # 3개의 문자열을 한줄씩 파일에 write
    f.write(m1_s + '\n')  # '\n': new line(줄바꿈)
    f.write(m2_s + '\n')
    f.write(m3_s + '\n')

In [16]:
# 파일에서 한줄씩 읽으면서 dict객체로 변환하고 리스트에 추가
movies = []  # 한줄씩 읽고 변환한 객체를 저장할 리스트
with open('movies.json', mode='r') as f:  # 파일을 텍스트 읽기(rt) 모드로 open
    for line in f:  # 파일에서 한줄씩 읽으면서 반복
        # print(line)
        m = json.loads(line.strip())  # json formatted string ---> dict
        movies.append(m)  # dict 객체를 리스트에 추가

movies  #> dict 객체를 아이템으로 갖는 리스트

[{'genre': 'action', 'mid': 1, 'title': '모가디슈'},
 {'mid': 2, 'title': 'black widow'},
 {'genre': 'comedy', 'mid': 3, 'title': '씽크홀'}]

In [17]:
# list comprehension
with open('movies.json', mode='r') as f:
    movies_2 = [json.loads(s.strip()) for s in f]
movies_2

[{'genre': 'action', 'mid': 1, 'title': '모가디슈'},
 {'mid': 2, 'title': 'black widow'},
 {'genre': 'comedy', 'mid': 3, 'title': '씽크홀'}]

In [18]:
movies_df = pd.DataFrame(movies)

In [19]:
movies_df

   mid        title   genre
0    1         모가디슈  action
1    2  black widow     NaN
2    3          씽크홀  comedy