<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Type(자료 형)

*   숫자 타입:
    *   int: 정수
    *   float: 실수
*   문자열 타입: str
*   논리 타입: bool - True/False 두 가지 상태를 저장하는 변수

In [6]:
# 변수 n에 정수 100을 저장
n = 100
print(n)

100

In [7]:
type(n)  # type(x): 변수 x의 자료 형(data type)을 반환.

int

In [8]:
pi = 3.141592
print(pi)
type(pi)

3.141592

float

In [10]:
s = '안녕하세요'
print(s)
type(s)

안녕하세요

str

In [14]:
b = True # Python의 예약어들은 대/소문자를 구분함.
print(b)
type(b)

True

bool

In [15]:
b = 5 > 1
print(b, type(b))

True <class 'bool'>

# 명시적 타입 변환(explicit type conversion)


*   `int(값)`: 값을 정수로 변환하는 함수
*   `float(값)`: 값을 실수로 변환하는 함수
*   `str(값)`: 값을 문자열로 변환하는 함수

In [16]:
num_str = '123'
type(num_str)

str

In [17]:
num_int = int(num_str)  # 문자열 '123'을 정수 123으로 변환 후 변수 num_int에 저장.
type(num_int)

int

In [19]:
pi = float('3.141592')  # 문자열 '3.141592'를 실수로 변환 후 그 결과를 변수 pi에 저장.
type(pi)

float

In [25]:
# int('3.14')  #> 문자열 '3.14'는 정수로 변환 불가능.
# int('1,000')  #> 문자열 '1,000'은 정수로 변환 불가능.
# float('1,000.0')  #> 문자열 '1,000.0'은 실수로 변환 불가능

# 산술 연산자


*   산술 연산자 종류: `+`, `-`, `*`, `/`, `**`, `//`, `%`
*   산술 연산자는 숫자 타입(int, float)의 값 또는 변수에서 사용할 수 있음.

In [33]:
n1 = 10
n2 = 3

In [34]:
print(f'{n1} + {n2} = {n1 + n2}')
print(f'{n1} - {n2} = {n1 - n2}')
print(f'{n1} x {n2} = {n1 * n2}')
print(f'{n1} / {n2} = {n1 / n2}')
print(f'{n1}의 {n2} 거듭제곱 = {n1 ** n2}')
print(f'{n1}을 {n2}로 나눈 몫 = {n1 // n2}')
print(f'{n1}을 {n2}로 나눈 나머지 = {n1 % n2}')

10 + 3 = 13
10 - 3 = 7
10 x 3 = 30
10 / 3 = 3.3333333333333335
10의 3 거듭제곱 = 1000
10을 3로 나눈 몫 = 3
10을 3로 나눈 나머지 = 1

In [35]:
print(10 ** -1)

0.1

문자열(str)에서 사용할 수 있는 산술 연산자:
*   `+`: concatenate. 문자열 이어 붙이기.
*   `*`: replicate. 문자열 복제.

In [43]:
'Hello' + 'Python'

'HelloPython'

Colab 노트북의 코드 셀에서 가장 마지막 문장이 값 또는 변수(객체)이면, 그 객체의 값이 콘솔 창에 출력됨.

In [44]:
'Hello' * 5

'HelloHelloHelloHelloHello'

bool 타입의 값들을 산술 연산을 하면, True는 1, False는 0으로 자동 변환(implicit type conversion)이 된 후 연산이 수행됨.

In [45]:
True + True

2

In [46]:
(True + False + True) / 3

0.6666666666666666

# 비교 연산자와 논리 연산자


*   비교 연산자: `==`, `!=`, `>`, `>=`, `<`, `<=`
*   논리 연산자: `and`, `or`, `not`

In [47]:
x = 100

In [48]:
print(x == 100)  # equal to
print(x != 100)  # not equal to
print(x > 100)  # greater than

True
False
False

In [51]:
print((x > 50) and (x < 150))
print((x > 100) and (x < 150))
print((x > 100) or (x < 150))

True
False
True

# Exercise

섭씨 온도를 입력 받아서 화씨 온도로 변환 후 출력하는 코드를 작성.

```
fahrenheit = celcius * 1.8 + 32
```

In [53]:
# 섭씨 온도 입력
celcius = float(input('섭씨 온도 입력>>> '))  #> 입력받은 문자열을 float 타입으로 변환 후 변수에 저장.
# 섭씨 온도를 화씨 온도로 변환
fahrenheit = celcius * 1.8 + 32
# 화씨 온도를 출력
print(fahrenheit)

섭씨 온도 입력>>> 32
89.6