<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py05_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**for 반복문**


```
for 변수 in iterable-type:
    반복해서 실행할 블록(문장들)
```


*   iterable-type: 반복 가능한 데이터 타입.
    *   range, list, tuple, dict, set, str, ...

In [1]:
# range(start, stop, step): start <= x < stop 범위의 step(양수)만큼씩 증가하는 정수들을 생성.
for x in range(1, 5, 1):
    print(x)

1
2
3
4

In [2]:
# range(start, stop): start <= x < stop 범위의 1씩 증가하는 정수들을 생성.
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [3]:
# range(stop): 0 <= x < stop 범위의 1씩 증가하는 정수들을 생성.
for x in range(5):
    print(x)

0
1
2
3
4

In [4]:
# range(start, stop, step): start >= x > stop 범위의 step(음수)만큼씩 감소하는 정수들을 생성
for x in range(5, 0, -1):
    print(x)

5
4
3
2
1

문자열(string): 문자들의 집합(순서가 있는 배열) --> 반복 가능한(iterable) 데이터 타입

In [5]:
msg = '안녕하세요'
for x in msg:
    print(x)

안
녕
하
세
요

0 이상 10 미만의 짝수들을 출력

In [6]:
for n in range(0, 10, 2):
    print(n)

0
2
4
6
8

In [8]:
for n in range(10):  # (0, 1, 2, 3, ..., 8, 9)
    if n % 2 == 0:  # n을 2로 나눈 나머지가 0이면(n이 짝수이면)
        print(n)

0
2
4
6
8