<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py07_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print 함수의 파라미터



*   특수 기호
    *   '\t': 탭(tab)
    *   '\n': 줄바꿈(new line)
*   `print()` 함수의 파라미터
    *   `end`: 콘솔 창에 출력 후 어떤 동작을 할 것인지를 설정. 기본값은 줄바꿈('\n')
    *   `sep`: 출력하는 argument를 구별하기 위한 문자를 설정. 기본값은 공백(' ')

In [3]:
print('hello')
print('안녕하세요')
print('hi')

hello
안녕하세요
hi

In [4]:
print('hello', end=',')
print('안녕하세요', end=',')
print('hi', end=',')

hello,안녕하세요,hi,

In [6]:
print('hello', end='\t')
print('안녕하세요', end='\t')
print('hi')

hello	안녕하세요	hi

In [10]:
print('hello', '안녕하세요', 'Good morning')
print('hello', '안녕하세요', 'Good morning', sep=',')
print('hello', '안녕하세요', 'Good morning', sep='::')

hello 안녕하세요 Good morning
hello,안녕하세요,Good morning
hello::안녕하세요::Good morning

# EX 1

다음과 같이 출력되도록 코드를 작성하세요.

```
1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!
```

In [15]:
for n in range(1, 11):
    print(n, 'little', end=' ')
    if n % 3 == 0:
        print('indian')

print('indian boys!')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

# EX 2

아래와 같이 출력되도록 코드를 작성하세요.

```
1  2  *  4  5  *  7  8  *  10
11 12 *  14 15 *  17 18 *  20
21 22 *  24 25 *  27 28 *  *
*  *  *  *  *  *  *  *  *  40
...
81 82 *  84 85 *  87 88 *  * 
*  *  *  *  *  *  *  *  *  100
```

In [31]:
for n in range(1, 101):
    # 숫자 n의 1의 자릿수
    n_1 = n % 10  # 10으로 나눈 나머지
    # 숫자 n의 10의 자릿수
    n_10 = n // 10  # 10으로 나눈 몫

    # 1의 자릿수가 3 또는 6 또는 9이면
    # condition_1 = (n_1 == 3) or (n_1 == 6) or (n_1 == 9)
    condition_1 = n_1 in (3, 6, 9)
    # 10의 자릿수가 3 또는 6 또는 9이면
    # condition_10 = (n_10 == 3) or (n_10 == 6) or (n_10 == 9)
    condition_10 = n_10 in (3, 6, 9)

    if condition_1 and condition_10:
        print('**', end='\t')
    elif condition_1 or condition_10:
        # 1의 자릿수가 3, 6, 9 이거나 10의 자릿수가 3, 6, 9이면
        print('*', end='\t')
    else:
        print(n, end='\t')
    
    # 숫자 10개를 출력할 때 마다 줄바꿈을 출력
    if n % 10 == 0:
        print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	**	*	*	**	*	*	**	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	**	*	*	**	*	*	**	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	**	*	*	**	*	*	**	100

`in`, `not in` 연산자

In [35]:
result = 1 in range(10)
print(result)

result = 'h' in 'Hello'
print(result)

result = 'h' not in 'Hello'
print(result)

True
False
True

In [40]:
'3' in '14'

False

In [41]:
for n in range(1, 101):
    n_str = str(n)  # 정수 n을 문자열로 변환 후 저장.
    if ('3' in n_str) or ('6' in n_str) or ('9' in n_str):
        # 문자열 n_str에 '3', 또는 '6' 또는, '9'가 포함되어 있으면
        print('*', end='\t')
    else:
        print(n_str, end='\t')
    
    # 10개 출력 후 줄바꿈
    if n % 10 == 0:
        print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100