<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py09_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트와 for 반복문

In [1]:
import random  # 난수 생성 함수를 가지고 있는 모듈 사용


*   empty list 생성 - numbers
*   10 ~ 100 범위의 정수 난수 10개를 리스트에 추가하고 출력
*   리스트의 원소들 중 짝수들로만 이루어진 새로운 리스트를 생성하고 출력 - evens
*   리스트의 원소들 중 홀수들로만 이루어진 새로운 리스트를 생성하고 출력 - odds

In [2]:
numbers = []  # empty list
for _ in range(10):  # 10번 반복
    numbers.append(random.randrange(10, 101))

print(numbers)

[93, 39, 79, 17, 82, 18, 75, 99, 40, 26]


*   `random.randrange(start, stop)`: start <= r < stop 범위의 정수 난수를 생성
*   `random.randint(start, stop)`: start <= r <= stop 범위의 정수 난수를 생성

In [3]:
evens = []  # 짝수들을 저장할 빈 리스트
odds = []  # 홀수들을 저장할 빈 리스트
# evens, odds = [], []

for x in numbers:  # 리스트 numbers의 원소들을 반복하면서
    if x % 2 == 0: # 리스트의 원소가 짝수이면
        evens.append(x)
    else:  # 그렇지 않으면(홀수이면)
        odds.append(x)

print(evens)
print(odds)

[82, 18, 40, 26]
[93, 39, 79, 17, 75, 99]


*   empty list를 생성 - numbers
*   -10 ~ 10 범위의 정수 난수 10개를 리스트에 추가, 출력
*   리스트의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 리스트를 생성, 출력 - positives

In [4]:
numbers = []  # 정수들을 저장할 빈 리스트
for _ in range(10):
    numbers.append(random.randrange(-10, 11))

print(numbers)

[-2, 8, -10, 8, 10, 4, -10, 0, -5, 8]

In [6]:
positives = []  # 양수(True), 0 또는 음수(False)를 저장할 리스트
for x in numbers:  # 리스트 numbers의 원소들을 반복하면서
    # if x > 0:  # 원소가 양수이면
    #     positives.append(True)  # True를 추가
    # else:  # 그렇지 않으면(원소가 음수이면)
    #     positives.append(False)  # False를 추가
    positives.append(x > 0)

print(positives)

[False, True, False, True, True, True, False, False, False, True]


*   empty list를 생성
*   리스트에 0 또는 1을 랜덤하게 10번 추가, 출력
*   리스트의 원소가 0이면 'Male', 1이면 'Female'을 저장하는 리스트를 생성, 출력.

In [7]:
gender_codes = []  # 0 또는 1들을 저장할 리스트
for _ in range(10):
    gender_codes.append(random.randrange(0, 2))

print(gender_codes)

[0, 1, 0, 0, 0, 1, 1, 1, 0, 1]

In [8]:
genders = []  # 'Male' 또는 'Female'들을 저장할 리스트
for x in gender_codes:  # 리스트 gender_codes의 원소들을 반복하면서
    if x == 0:
        genders.append('Male')
    else:
        genders.append('Female')

print(genders)

['Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female']

# List Comprehension(리스트 내포)

In [9]:
# 1 ~ 10까지 정수들을 차례로 저장하는 리스트
numbers = []
for x in range(1, 11):
    numbers.append(x)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# list comprehension
numbers = [x for x in range(1, 11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
squares = []
for x in range(1, 11):
    squares.append(x ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# 0 이상 10 이하의 짝수들을 갖는 리스트
evens = []
for x in range(0, 11, 2):
    evens.append(x)

print(evens)

[0, 2, 4, 6, 8, 10]

In [17]:
evens = [x for x in range(0, 11, 2)]
print(evens)

[0, 2, 4, 6, 8, 10]

In [18]:
# 문자열들을 저장하는 리스트
fruits = ['apple', 'banana', 'cherry', 'dragon fruit', 'pineapple']

In [23]:
# fruits가 가지고 있는 문자열들의 길이를 저장하는 리스트
fruit_lengths = []
for x in fruits:
    fruit_lengths.append(len(x))

print(fruit_lengths)

[5, 6, 6, 12, 9]

In [24]:
fruit_lengths = [len(x) for x in fruits]
print(fruit_lengths)

[5, 6, 6, 12, 9]

In [28]:
# 10 ~ 100 범위의 정수 난수 10개를 저장하는 리스트
numbers = [random.randrange(10, 101) for _ in range(10)]
print(numbers)

[57, 71, 35, 35, 15, 47, 60, 31, 34, 48]

In [30]:
# numbers의 원소들 중에서 짝수로만 이루어진 리스트: evens
evens = [x for x in numbers if x % 2 == 0]
print(evens)

[60, 34, 48]

In [31]:
# numbers의 원소들 중에서 홀수로만 이루어진 리스트: odds
odds = [x for x in numbers if x % 2 == 1]
print(odds)

[57, 71, 35, 35, 15, 47, 31]

In [33]:
# -10 ~ 10 범위의 정수 난수 10개를 저장하는 리스트
numbers = [random.randrange(-10, 11) for _ in range(10)]
print(numbers)

[4, -6, 10, -9, 0, -5, 9, -10, 3, 6]

In [34]:
# numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 리스트
positives = [x > 0 for x in numbers]
print(positives)

[True, False, True, False, False, False, True, False, True, True]

In [36]:
# if-else 표현식(expression): 값1 if 조건식 else 값2
x = -100
# is_positive = (x > 0)
is_positive = True if x > 0 else False
print(is_positive)

False

In [37]:
positives = [True if x > 0 else False for x in numbers]
print(positives)

[True, False, True, False, False, False, True, False, True, True]

In [38]:
# 0 또는 1 10개를 저장하는 리스트
gender_codes = [random.randrange(0, 2) for _ in range(10)]
print(gender_codes)

[1, 1, 0, 1, 0, 0, 1, 0, 0, 1]

In [39]:
# 리스트 gender_codes의 값이 0이면 'Male', 1이면 'Female'을 저장하는 리스트
genders = ['Male' if x == 0 else 'Female' for x in gender_codes]
print(genders)

['Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female']

In [41]:
# numbers: 10개의 정수 난수를 저장하는 리스트
numbers = [random.randrange(100) for _ in range(10)]
print(numbers)

# evens: numbers의 원소가 짝수이면 'even', 홀수이면 'odd'를 저장하는 리스트
evens = ['even' if x % 2 == 0 else 'odd'
         for x in numbers]
print(evens)

[0, 70, 96, 44, 0, 54, 19, 7, 88, 8]
['even', 'even', 'even', 'even', 'even', 'even', 'odd', 'odd', 'even', 'even']

In [45]:
# gender_codes: 0, 1, 2를 랜덤하게 10개 저장하는 리스트
gender_codes = [random.randrange(3) for _ in range(10)]
print(gender_codes)

# genders: gender_codes의 원소가 0이면 'male', 1이면 'female', 2이면 'unknown'을 저장하는 리스트
genders = ['male' if x == 0 else ('female' if x == 1 else 'unknown')
           for x in gender_codes]
print(genders)

[1, 1, 2, 0, 2, 1, 0, 0, 1, 1]
['female', 'female', 'unknown', 'male', 'unknown', 'female', 'male', 'male', 'female', 'female']

In [49]:
# numbers1: 10 미만의 정수 난수 10개를 저장하는 리스트
numbers1 = [random.randrange(10) for _ in range(10)]
print(numbers1)

# numbers2: 10 미만의 정수 난수 10개를 저장하는 리스트
numbers2 = [random.randrange(10) for _ in range(10)]
print(numbers2)

# adds: numbers1과 numbers2의 같은 인덱스의 원소들끼리 더한 값을 저장한 리스트
# adds = []
# for i in range(10):
#     adds.append(numbers1[i] + numbers2[i])
adds = [numbers1[i] + numbers2[i] for i in range(10)]

print(adds)

[3, 9, 8, 0, 4, 0, 9, 6, 7, 8]
[2, 7, 5, 5, 0, 2, 2, 7, 6, 0]
[5, 16, 13, 5, 4, 2, 11, 13, 13, 8]

In [53]:
# adds = []
# for x, y in zip(numbers1, numbers2):
#     adds.append(x + y)
adds = [x + y for x, y in zip(numbers1, numbers2)]

print(adds)

[5, 16, 13, 5, 4, 2, 11, 13, 13, 8]

In [58]:
for x, y, z in zip([1, 2], [3, 4], [5, 6]):
    print(x, y, z)

1 3 5
2 4 6

# 다차원 리스트

In [59]:
# 2차원 리스트: 1차원 리스트를 원소로 갖는 리스트
matrix = [ [1, 2, 3], 
           [4, 5, 6], 
           [7, 8, 9] ]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 2차원 리스트의 indexing

In [60]:
print(matrix[0])  #> 1차원 리스트

[1, 2, 3]

In [61]:
print(matrix[0][0])

1

In [62]:
print(matrix[1][2])  #> 6

6

## 2차원 리스트와 for 반복문

In [65]:
for row in matrix:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [64]:
for row in matrix:
    for x in row:
        print(x)

1
2
3
4
5
6
7
8
9

In [66]:
for row in matrix:
    for x in row:
        print(x, end='\t')  # 한 줄에 출력
    print()  # 줄바꿈

1	2	3
4	5	6
7	8	9

In [71]:
for i, row in enumerate(matrix):
    for j, value in enumerate(row):
        print(i, j, value, sep=' : ')

0 : 0 : 1
0 : 1 : 2
0 : 2 : 3
1 : 0 : 4
1 : 1 : 5
1 : 2 : 6
2 : 0 : 7
2 : 1 : 8
2 : 2 : 9


*   matrix1, matrix2: 3x3 모양의 정수 난수를 저장한 2차원 리스트
*   result: matrix1과 matrix2 리스트의 같은 위치에 있는 원소들끼리 더한 값을 저장한 리스트.