<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py09_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트와 for 반복문

In [1]:
import random  # 난수 생성 함수를 가지고 있는 모듈 사용


*   empty list 생성 - numbers
*   10 ~ 100 범위의 정수 난수 10개를 리스트에 추가하고 출력
*   리스트의 원소들 중 짝수들로만 이루어진 새로운 리스트를 생성하고 출력 - evens
*   리스트의 원소들 중 홀수들로만 이루어진 새로운 리스트를 생성하고 출력 - odds

In [2]:
numbers = []  # empty list
for _ in range(10):  # 10번 반복
    numbers.append(random.randrange(10, 101))

print(numbers)

[93, 39, 79, 17, 82, 18, 75, 99, 40, 26]


*   `random.randrange(start, stop)`: start <= r < stop 범위의 정수 난수를 생성
*   `random.randint(start, stop)`: start <= r <= stop 범위의 정수 난수를 생성

In [3]:
evens = []  # 짝수들을 저장할 빈 리스트
odds = []  # 홀수들을 저장할 빈 리스트
# evens, odds = [], []

for x in numbers:  # 리스트 numbers의 원소들을 반복하면서
    if x % 2 == 0: # 리스트의 원소가 짝수이면
        evens.append(x)
    else:  # 그렇지 않으면(홀수이면)
        odds.append(x)

print(evens)
print(odds)

[82, 18, 40, 26]
[93, 39, 79, 17, 75, 99]


*   empty list를 생성 - numbers
*   -10 ~ 10 범위의 정수 난수 10개를 리스트에 추가, 출력
*   리스트의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 리스트를 생성, 출력 - positives

In [4]:
numbers = []  # 정수들을 저장할 빈 리스트
for _ in range(10):
    numbers.append(random.randrange(-10, 11))

print(numbers)

[-2, 8, -10, 8, 10, 4, -10, 0, -5, 8]

In [6]:
positives = []  # 양수(True), 0 또는 음수(False)를 저장할 리스트
for x in numbers:  # 리스트 numbers의 원소들을 반복하면서
    # if x > 0:  # 원소가 양수이면
    #     positives.append(True)  # True를 추가
    # else:  # 그렇지 않으면(원소가 음수이면)
    #     positives.append(False)  # False를 추가
    positives.append(x > 0)

print(positives)

[False, True, False, True, True, True, False, False, False, True]


*   empty list를 생성
*   리스트에 0 또는 1을 랜덤하게 10번 추가, 출력
*   리스트의 원소가 0이면 'Male', 1이면 'Female'을 저장하는 리스트를 생성, 출력.

In [7]:
gender_codes = []  # 0 또는 1들을 저장할 리스트
for _ in range(10):
    gender_codes.append(random.randrange(0, 2))

print(gender_codes)

[0, 1, 0, 0, 0, 1, 1, 1, 0, 1]

In [8]:
genders = []  # 'Male' 또는 'Female'들을 저장할 리스트
for x in gender_codes:  # 리스트 gender_codes의 원소들을 반복하면서
    if x == 0:
        genders.append('Male')
    else:
        genders.append('Female')

print(genders)

['Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female']

# List Comprehension(리스트 내포)

In [9]:
# 1 ~ 10까지 정수들을 차례로 저장하는 리스트
numbers = []
for x in range(1, 11):
    numbers.append(x)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# list comprehension
numbers = [x for x in range(1, 11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
squares = []
for x in range(1, 11):
    squares.append(x ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# 0 이상 10 이하의 짝수들을 갖는 리스트
evens = []
for x in range(0, 11, 2):
    evens.append(x)

print(evens)

[0, 2, 4, 6, 8, 10]

In [17]:
evens = [x for x in range(0, 11, 2)]
print(evens)

[0, 2, 4, 6, 8, 10]