<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py12_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

**dict**

*   사전(dictionary) 형식의 데이터 타입
*   키(key)를 기반으로 값(value)을 저장하는 데이터 타입
    *   list, tuple: index를 기반으로 값을 저장하는 데이터 타입
    *   key의 역할은 list나 tuple에서 인덱스의 역할과 마찬가지로, 사전에 저장되어 있는 유일한 1개의 값을 찾아가기(참조하기) 위한 용도.

In [1]:
students = {1: '홍길동', 2: '오쌤', 10: 'Scott'}
print(students)
print(type(students))
print(students.keys())  # dict의 key들
print(students.values())  # dict의 value들

{1: '홍길동', 2: '오쌤', 10: 'Scott'}
<class 'dict'>
dict_keys([1, 2, 10])
dict_values(['홍길동', '오쌤', 'Scott'])

In [2]:
# dict[key] - dict에서 key에 해당하는 value
print(students[2])

오쌤

In [3]:
# dict[key] = value
# 1) key가 dict에 없는 경우, 새로운 key: value 아이템을 dict에 추가
students[11] = 'tiger'
print(students)

# 2) key가 dict에 있는 경우, 기존 값을 새로운 값으로 변경
students[1] = '김길동'
print(students)

{1: '홍길동', 2: '오쌤', 10: 'Scott', 11: 'tiger'}
{1: '김길동', 2: '오쌤', 10: 'Scott', 11: 'tiger'}

# dict의 메서드(기능)

In [4]:
book = {'title': '혼자 공부하는 파이썬', 
        'author': '윤인성',
        'price': 18000}
print(book)

{'title': '혼자 공부하는 파이썬', 'author': '윤인성', 'price': 18000}

In [5]:
book.keys()  # dict의 key들을 확인

dict_keys(['title', 'author', 'price'])

In [6]:
book.values()  # dict의 value들만 확인

dict_values(['혼자 공부하는 파이썬', '윤인성', 18000])

In [7]:
book.items()  # (key, value) item들의 리스트

dict_items([('title', '혼자 공부하는 파이썬'), ('author', '윤인성'), ('price', 18000)])

In [8]:
# dict.get(key): key에 해당하는 value를 반환.
print(book.get('title'))
print(book['title'])

혼자 공부하는 파이썬
혼자 공부하는 파이썬

In [9]:
# book['isbn']
#> dict[key]를 사용하는 경우, key가 dict에 없는 경우에는 KeyError갈 발생함.

print(book.get('isbn'))
#> dict.get(key) 메서드를 사용하는 경우, key가 dict에 없는 경우에 에러 대신 None을 반환.

None

In [10]:
book.pop('price')  # key에 해당하는 아이템(key: value)을 삭제
print(book)

{'title': '혼자 공부하는 파이썬', 'author': '윤인성'}

In [11]:
book['가격'] = 18000  # dict에 새로운 아이템(key: value)을 추가
print(book)

{'title': '혼자 공부하는 파이썬', 'author': '윤인성', '가격': 18000}

dict는 key와 value 모두 다양한 타입의 자료들을 사용할 수 있음.

In [12]:
contact = {'no': 1, 
           'name': '오쌤',
           'phone': ['010-0000-0000', '02-0000-0000', '02-1234-5678'],
           'email': {'personal': 'jake@gmail.com', 'company': 'jake@itwill.co.kr'}}
print(contact)

{'no': 1, 'name': '오쌤', 'phone': ['010-0000-0000', '02-0000-0000', '02-1234-5678'], 'email': {'personal': 'jake@gmail.com', 'company': 'jake@itwill.co.kr'}}

In [13]:
print(contact['phone'])  #> 리스트(list)
print(contact['phone'][0])  #> 인덱스 -> 리스트의 원소를 참조

['010-0000-0000', '02-0000-0000', '02-1234-5678']
010-0000-0000

In [14]:
print(contact['email'])  #> dict
print(contact['email']['company'])  #> key -> value를 참조

{'personal': 'jake@gmail.com', 'company': 'jake@itwill.co.kr'}
jake@itwill.co.kr

In [15]:
numbers = [10, 5, 7]  # list
print(numbers[0])  # list_name[index]

10

In [16]:
data = {'name': '오쌤', 'age': 16, 1: 100, 2: 'abc'}  # dict
print(data['name'])
print(data[1])

오쌤
100

# dict와 for 반복문

In [17]:
menu = {'짜장면': 5000, '짬뽕': 6000, '볶음밥': 6000}

In [18]:
for x in menu:
    print(x)
# for-in 구문에서 dict를 사용하면 key를 iteration한다.

짜장면
짬뽕
볶음밥

In [19]:
for k in menu:
    print(k, ':', menu[k])

짜장면 : 5000
짬뽕 : 6000
볶음밥 : 6000

In [20]:
for k, v in menu.items():  # [('짜장면', 5000), ('짬뽕', 6000), ('볶음밥', 6000)]
    print(k, v)

짜장면 5000
짬뽕 6000
볶음밥 6000

# Dictionary Comprehension

In [21]:
emp_no = [101, 102, 201, 202]  # 사번 리스트
emp_name = ['King', 'Scott', 'Allen', '오쌤']  # 직원 이름 리스트

# 사번을 key로 하고 이름을 value로 갖는 dict를 생성.

# 1) empty dict 생성
employees = {}  # employees = dict()

# 2) emp_no, emp_name 리스트의 원소들을 차례로 반복하면서, employees[key] = value
for k, v in zip(emp_no, emp_name):
    employees[k] = v

print(employees)

{101: 'King', 102: 'Scott', 201: 'Allen', 202: '오쌤'}

In [22]:
# dictionary comprehension: {k: v for k, v in iterable}
emp = {k: v for k, v in zip(emp_no, emp_name)}
print(emp)

{101: 'King', 102: 'Scott', 201: 'Allen', 202: '오쌤'}

In [23]:
fruits = ['apple', 'banana', 'cherry', 'pineapple', 'watermelon', '딸기', '복숭아']

# {과일이름: 이름길이} 형식의 dict를 생성
# {'apple': 5, 'banana': 6, ..., '복숭아': 3} dict를 생성

fruit_lengths = {}  # empty dict 생성

for x in fruits:  # fruits 원소들을 반복하면서
    fruit_lengths[x] = len(x)  # fruit_lengths[과일이름] = 과일이름길이

print(fruit_lengths)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10, '딸기': 2, '복숭아': 3}

In [24]:
fruit_lengths2 = {x: len(x) for x in fruits}
print(fruit_lengths2)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10, '딸기': 2, '복숭아': 3}

# Word Counting

In [25]:
words = ['one', 'little', 'two', 'little', 'three', 'little', 'indian', 'indian']

리스트 words에 등장하는 단어를 dict의 key로 하고, 그 단어가 등장하는 횟수를 value로 하는 dict를 만들어 보세요.

> 결과: `{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2}`

*   힌트:
    *   dict, for, if 이용
    *   defaultdict 데이터 타입 이용
    *   ...

In [30]:
# empty dict 생성
word_counts = {}  # word_counts = dict()

for w in words:  # 리스트 words가 가지고 있는 문자열 w에 대해서 반복하면서
    if w in word_counts:  # 문자열 w가 word_counts의 key로 존재하면
        word_counts[w] += 1  # 단어 등장 횟수를 1 증가
    else:  # 문자열 w가 처음 등장한 경우
        word_counts[w] = 1  # 단어 등장 횟수를 1로 설정.
    print(word_counts)

{'one': 1}
{'one': 1, 'little': 1}
{'one': 1, 'little': 1, 'two': 1}
{'one': 1, 'little': 2, 'two': 1}
{'one': 1, 'little': 2, 'two': 1, 'three': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2}

In [32]:
from collections import defaultdict
# collections 모듈에서 defaultdict 데이터 타입을 import

In [35]:
word_counts2 = defaultdict(int)
# dictionary의 value의 데이터 타입은 int임을 설정
for w in words:
    word_counts2[w] += 1  # word_counts2[w] = word_counts2[w] + 1
    print(word_counts2)

defaultdict(<class 'int'>, {'one': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 1, 'two': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 2, 'two': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 2, 'two': 1, 'three': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 3, 'two': 1, 'three': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2})

In [37]:
word_counts3 = {}
for w in words:
    # print(w, words.count(w))
    word_counts3[w] = words.count(w)
    print(word_counts3)

{'one': 1}
{'one': 1, 'little': 3}
{'one': 1, 'little': 3, 'two': 1}
{'one': 1, 'little': 3, 'two': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2}
{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2}

In [38]:
word_counts4 = {w: words.count(w) for w in words}  # dictionary comprehension
print(word_counts4)

{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2}