<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py14_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)


*   **함수(function)**: 기능을 수행하는 코드 블록
*   **인수(argument)**: 함수가 기능을 수행하기 위해서 데이터가 필요한 경우, 함수를 호출할 때 함수에게 전달하는 값(들)
*   **매개변수(parameter)**: 함수가 호출될 때 전달되는 값들(argument)을 저장하기 위해서, 함수를 정의할 때 선언하는 변수
*   **반환 값(return value)**: 함수가 기능의 수행 결과로 반환하는 값
    *   반환 값이 있는 함수도 있고, 반환 값이 없는 함수도 있음.

In [90]:
result = len([1, 2, 3, 4, 5])
print(result)

# 함수: len
# argument: [1, 2, 3, 4, 5] -> parameter에 저장되는 값
# 함수 호출(call, invoke): len([1, 2, 3, 4, 5])
# 반환 값: 5

5

In [91]:
result = print('안녕하세요')
print(result)  #> None - 반환 값 없음.

# 함수: print
# argument: '안녕하세요'
# 함수 호출: print('안녕하세요')
# return value: None

안녕하세요
None

# 함수 정의 방법



```
def function_name([param1, ...]):
    ["""문서화 주석(documentation comment) - 함수에 대한 설명."""]
    함수 기능 작성
    [return 반환값]
```

In [92]:
# 함수 정의(definition)
def subtract(x, y):
    """숫자 2개(x, y)를 전달받아서 x - y를 반환하는 함수."""
    return x - y

In [93]:
# 함수 호출(call, invoke)
# 함수를 호출할 때 parameter를 명시하지 않으면, argument는 "순서대로" 전달됨.
result = subtract(1, 3)
print(result)

-2

In [94]:
def add(x, y):
    """숫자 2개(x, y)를 전달받아서 x + y를 반환."""
    return x + y

In [95]:
result = add(1, 2)
print(result)
#> 숫자 2개의 덧셈 결과

result = add('1', '2')
print(result)
#> 문자열 2개를 이어주는 기능(concatenate)
# parameter는 변수 타입을 검사하지 않음.

3
12

In [96]:
# 2개 이상의 값을 반환하는 함수 정의
def plus_and_minus(x, y):
    """2개의 숫자(x, y)를 전달받아서,
    x + y, x - y를 리턴하는 함수"""
    return x + y, x - y

In [97]:
result = plus_and_minus(1, 2)
print(result)
#> 2개 이상의 값을 리턴하는 함수란 tuple을 리턴하는 함수이다.

# tuple decomposition(분해): x, y = (value1, value2)
plus, minus = plus_and_minus(1, 2)
print(plus)
print(minus)

(3, -1)
3
-1

In [98]:
# 값을 반환하지 않는 함수 정의
def repeat_message(message, n):
    """문자열 message와 정수 n을 전달받아서,
    message를 n번 반복해서 출력하는 함수.
    """
    for _ in range(n):
        print(message)

    # return None
    # 반환하는 값이 없는 경우에 보통 return None 문장은 생략함.

In [99]:
repeat_message('안녕하세요', 5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [100]:
result = repeat_message('hello', 3)
print(result)

hello
hello
hello
None

# 함수 정의 연습

In [101]:
import random  # 난수 관련 함수들 사용하기 위해서
import math  # 수학 함수들을 사용하기 위해서

## Ex1. 

*   함수 이름: make_list
*   기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 생성해서 반환

In [102]:
def make_list(start, end, n):
    # array = []  # empty list
    # for _ in range(n):  # n번 반복하면서
    #     array.append(random.randrange(start, end))  # 난수를 리스트에 추가
    array = [random.randrange(start, end) for _ in range(n)]
    return array

In [103]:
array1 = make_list(0, 100, 5)
print(array1)

[99, 93, 88, 0, 93]

In [104]:
array2 = make_list(1, 5, 10)
print(array2)

[2, 1, 4, 3, 4, 1, 4, 2, 4, 3]

## Ex2.

*   함수 이름: calculate_sum
*   기능: 숫자들을 저장하는 리스트를 전달받아서, 리스트의 모든 아이템들의 합을 리턴.

In [105]:
def calculate_sum(array):
    # return sum(array)
    total = 0
    for x in array:
        total += x
    return total

In [106]:
s = calculate_sum([1, 2, 3, 4, 5])
print(s)

15

In [107]:
s1 = calculate_sum(array1)
print(s1)

373

In [108]:
s2 = calculate_sum(array2)
print(s2)

28

## Ex3.

*   함수 이름: calculate_mean
*   기능: 숫자들을 저장하는 리스트를 전달받아서, 리스트의 모든 아이템들의 평균을 리턴.

In [109]:
def calculate_mean(array):
    # 평균 = 합 / 개수
    s = calculate_sum(array)
    n = len(array)
    return s / n

In [110]:
mean = calculate_mean([1, 2, 3, 4, 5])
print(mean)  #> 3.0

3.0

In [111]:
mean1 = calculate_mean(array1)  # [57, 1, 80, 92, 99]
print(mean1)

74.6

In [112]:
mean2 = calculate_mean(array2)
print(mean2)

2.8

## Ex4.

*   함수 이름: calculate_var
*   기능: 숫자들을 저장하는 리스트를 전달받아서, 숫자들의 분산을 리턴.

In [113]:
def calculate_var(array):
    mean = calculate_mean(array)
    squares = [(x - mean) ** 2 for x in array]
    sum_of_squares = calculate_sum(squares)
    var = sum_of_squares / (len(array) - 1)

    return var

In [114]:
var = calculate_var([1, 2, 3, 4, 5])
print(var)

2.5

In [115]:
var1 = calculate_var(array1)  # [99, 93, 88, 0, 93]
print(var1)

1754.3

## Ex5.

*   함수 이름: calculate_stddev
*   기능: 숫자들을 저장하는 리스트를 전달받아서, 숫자들의 표준편차를 리턴.

In [116]:
def calculate_stddev(array):
    var = calculate_var(array)
    return math.sqrt(var)

In [117]:
std_dev = calculate_stddev([1, 2, 3, 4, 5])
print(std_dev)

1.5811388300841898

In [119]:
std_dev1 = calculate_stddev(array1)
print(std_dev1)

41.88436462452307

## Ex6.

*   함수 이름: find_min_and_max
*   기능: 숫자들를 저장하는 리스트를 전달받아서, 숫자들의 최솟값과 최댓값을 리턴.

In [123]:
def find_min_and_max(array):
    # return min(array), max(array)
    min_arr = array[0]  # 리스트의 첫번째 값을 최솟값이라고 가정.
    max_arr = array[0]  # 리스트의 첫번째 값을 최댓값이라고 가정.
    for x in array:  # 리스트의 값을 하나씩 꺼내면서 반복
        if x < min_arr:  # 리스트에서 꺼낸 값이 min_arr보다 작다면
            min_arr = x  # 최솟값을 변경
        if x > max_arr:  # 리스트에서 꺼낸 값이 max_arr보다 크다면
            max_arr = x  # 최댓값을 변경
    
    return min_arr, max_arr

In [124]:
find_min_and_max([1, 2, 3, 4, 5])

(1, 5)

In [125]:
find_min_and_max([10, 20, 1, 0, 50, 100])

(0, 100)

In [126]:
def find_min_and_max2(array):
    # 전달받은 리스트를 오름차순 정렬
    sorted_arr = sorted(array)
    # 정렬된 리스트의 첫번째 원소(최솟값), 마지막 원소(최댓값)를 반환
    return sorted_arr[0], sorted_arr[-1]

In [127]:
find_min_and_max2([10, 20, 1, 0, 50, 100])

(0, 100)