<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py16_recursive_fn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**재귀 함수(recursive function)**:

함수 내부에서 자기 자신을 다시 호출하는 함수

In [1]:
def factorial(n):
    """
    0! = 1 (정의)
    1! = 1 = 0! x 1
    2! = 1 x 2 = 2 = 1! x 2
    3! = 1 x 2 x 3 = 6 = 2! x 3
    ...
    n! = 1 x 2 x 3 x ... x (n-1) x n = (n-1)! x n, n >= 1
    """
    result = None  # 변수 초기화
    if n == 0:
        result = 1  # 정의: 0! = 1
    elif n > 0:
        result = 1
        for x in range(1, n+1):  # range(1, n+1) = (1, 2, ..., n-1, n)
            result *= x

    return result

In [4]:
for n in range(6):
    print(factorial(n))

1
1
2
6
24
120

In [6]:
print(factorial(-1))

None

In [7]:
def factorial2(n):
    """
    0! = 1
    n! = (n-1)! x n, n >= 1
    """
    result = None
    if n == 0:
        result = 1
    elif n > 0:
        result = factorial2(n - 1) * n  # 재귀 호출(recursive call)

    return result

In [8]:
for n in range(-1, 6):
    print(f'{n}! = {factorial2(n)}')

-1! = None
0! = 1
1! = 1
2! = 2
3! = 6
4! = 24
5! = 120

# 함수 작성 연습

## Ex1.

*   sum_to
*   0부터 n까지의 합계를 리턴하는 함수
    *    `0 + 1 + 2 + ... + (n - 1) + n`

In [5]:
def sum_to(n):
    if n >= 0:
        result = n * (n + 1) / 2
    else:
        result = None

    return result

In [11]:
def sum_to_2(n):
    if n < 0:
        result = None
    else:
        result = 0
        for x in range(n + 1):
            result += x

    return result

In [13]:
def sum_to_3(n):
    if n < 0:
        result = None
    else:
        numbers = [x for x in range(n + 1)]  # 0 ~ n까지 정수들을 갖는 리스트
        result = sum(numbers)

    return result

In [15]:
def sum_to_4(n):
    """
    n < 0: None
    n = 0: s(0) = 0
    n > 0: s(n) = 1 + 2 + ... + (n-1) + n = s(n-1) + n
    """
    if n < 0:
        result = None
    elif n == 0:
        result = 0
    else:
        result = sum_to_4(n - 1) + n

    return result

In [16]:
for n in range(-1, 6):
    print(f'n = {n}: sum_to = {sum_to_4(n)}')

n = -1: sum_to = None
n = 0: sum_to = 0
n = 1: sum_to = 1
n = 2: sum_to = 3
n = 3: sum_to = 6
n = 4: sum_to = 10
n = 5: sum_to = 15

## Ex2.

*   square_sum
*   0부터 n까지 정수의 제곱의 합을 리턴하는 함수
    *   `0**2 + 1**2 + 2**2 + ... + (n - 1)**2 + n**2`

In [17]:
def square_sum(n):
    if n < 0:
        result = None
    else:
        result = n * (n + 1) * (2 * n + 1) / 6

    return result

In [19]:
def square_sum_2(n):
    if n < 0:
        result = None
    else:
        result = 0
        for x in range(n + 1):
            result += x**2  # result = result + x**2

    return result

In [21]:
def square_sum_3(n):
    if n < 0:
        result = None
    else:
        squares = [x**2 for x in range(n + 1)]  # 0 ~ n까지의 정수들의 제곱을 저장하는 리스트
        result = sum(squares)
    
    return result

In [23]:
def square_sum_4(n):
    """
    n < 0: ss(n) = None
    n = 0: ss(n) = 0
    n > 0: ss(n) = 0 + 1**2 + 2**2 + ... + (n-1)**2 + n**2 = ss(n-1) + n**2
    """
    if n < 0:
        result = None
    elif n == 0:
        result = 0
    else:
        result = square_sum_4(n - 1) + n**2

    return result

In [24]:
for n in range(-1, 5):
    print(f'n = {n}: square_sum = {square_sum_4(n)}')

n = -1: square_sum = None
n = 0: square_sum = 0
n = 1: square_sum = 1
n = 2: square_sum = 5
n = 3: square_sum = 14
n = 4: square_sum = 30

## Ex3.

*   find_max_index
*   숫자들의 리스트를 argument로 전달했을 때, 그 리스트에서 최댓값의 위치(인덱스)를 리턴하는 함수

In [25]:
import random

In [50]:
random.seed(0)
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)

[6, 6, 0, 4, 8, 7, 6, 4, 7, 5]

In [51]:
for i in range(len(numbers)):
    print(i, ':', numbers[i])

0 : 6
1 : 6
2 : 0
3 : 4
4 : 8
5 : 7
6 : 6
7 : 4
8 : 7
9 : 5

In [52]:
for i, v in enumerate(numbers):
    print(i, ':', v)

0 : 6
1 : 6
2 : 0
3 : 4
4 : 8
5 : 7
6 : 6
7 : 4
8 : 7
9 : 5

In [33]:
def find_max(numbers):
    """숫자들을 저장한 리스트 numbers의 최댓값을 리턴하는 함수"""
    max_num = numbers[0]  # 리스트 numbers의 첫번째 값(인덱스 0 위치의 값)을 최댓값이라고 가정.
    for i in range(len(numbers)):  # 인덱스 0부터 (length - 1)까지 반복
        if max_num < numbers[i]:  # 기존 최댓값보다 더 큰 값을 리스트에서 찾은 경우
            max_num = numbers[i]

    return max_num

In [35]:
def find_max_index(numbers):
    """숫자들을 저장한 리스트 numbers의 최댓값의 인덱스를 리턴하는 함수"""
    index = 0  # 최댓값의 위치(인덱스)는 0이라고 가정.
    max_num = numbers[0]  # 최댓값을 numbers의 첫번째 값이라고 가정.
    for i in range(len(numbers)):
        if max_num < numbers[i]:
            index = i  # 최댓값의 인덱스를 i로 변경
            max_num = numbers[i]  # 최댓값도 i번째 원소로 변경

    return index

In [38]:
def find_max_index2(numbers):
    index = 0
    max_num = numbers[0]
    for i, v in enumerate(numbers):
        if max_num < v:
            index = i
            max_num = v

    return index

In [53]:
print('최댓값:', find_max(numbers))
print('최댓값의 인덱스:', find_max_index2(numbers))

최댓값: 8
최댓값의 인덱스: 4

In [56]:
print(numbers)
print(max(numbers))  # max(numbers): 리스트 numbers의 최댓값을 리턴
print(numbers.index(7))  # numbers.index(값): 리스트 numbers에서 값이 있는 위치(인덱스)를 리턴

[6, 6, 0, 4, 8, 7, 6, 4, 7, 5]
8
5

In [49]:
def find_max_index3(numbers):
    max_num = max(numbers)  # numbers의 최댓값을 찾음
    max_index = numbers.index(max_num)  # 최댓값의 인덱스(위치)를 찾음
    return max_index