<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py17_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

함수(function)는 객체(object)이다.
*   함수는 변수에 할당할 수 있음.
*   함수의 argument로 함수를 전달할 수 있음.
*   함수의 return value가 함수가 될 수 있음. 함수는 함수를 반환할 수 있음.
*   함수 내부에서 다른 함수를 정의(선언)할 수 있음.

In [ ]:
x = 1  # 정수 1을 변수 x에 할당(저장)
y = x  # 변수 x의 값을 변수 y에 할당
print('x =', x)
print('y =', y)

x = 1
y = 1

In [ ]:
# 함수 정의(선언)
def twice(x):
    return 2 * x

In [ ]:
result = twice(5)  # 함수 호출
print('result =', result)

result = 10

In [ ]:
twice  # twice 객체를 콘솔창에 출력

In [ ]:
double = twice  # 함수 객체는 변수에 할당할 수 있음.
print(double)  # 변수 double은 함수 객체
result = double(5)  # 변수 이름으로 함수를 호출
print('result =', result)

<function twice at 0x7f3ae2f59320>
result = 10

argument로 함수를 전달받는 함수 예제

In [ ]:
def calculator(x, y, fn):
    """
    x, y: 숫자(int, float)
    fn: 숫자 2개를 argument로 전달받고, 숫자를 리턴하는 함수
    """
    result = fn(x, y)
    return result

In [ ]:
def plus(x, y):
    return x + y

In [ ]:
plus(1, 2)

3

In [ ]:
calculator(1, 2, plus)

3

In [ ]:
def minus(x, y):
    return x - y

In [ ]:
calculator(1, 2, minus)

-1

In [ ]:
def greater(x, y):
    if x > y:
        return x
    else:
        return y

In [ ]:
calculator(1, 2, greater)

2

In [ ]:
calculator(1, 2, max)

2

함수 내부에서 함수를 선언하고, 함수를 리턴하는 예제

In [ ]:
def make_incrementor(n):
    # 내부 함수(inner function), 지역 함수(local function): 함수 내부에서 정의된 함수
    def add_n(x):
        # 내부 함수는 외부 함수의 지역변수, 파라미터를 사용할 수 있음.
        return x + n
    
    # make_incrementor 함수가 add_n 함수를 리턴
    return add_n

In [ ]:
increase_by_2 = make_incrementor(2)
print(increase_by_2)  #> make_incrementor()의 결과는 함수

<function make_incrementor.<locals>.add_n at 0x7f3ae2e897a0>

In [ ]:
increase_by_2(10)  #> 함수 호출

12

In [ ]:
increase_by_10 = make_incrementor(10)
increase_by_10(10)

20

# 람다 표현식(Lambda expression)

```
lambda param1, param2, ...: expression
```

*   이름이 없는 함수(anonymous function)
*   함수 이름 없이, 함수의 파라미터 선언과 반환 값 또는 반환 식(expression)으로 함수를 정의(선언)하는 방법.

In [ ]:
plus_one = lambda x: x + 1  # argument x를 전달받아서 x + 1을 반환하는 함수

In [ ]:
plus_one(1)  # 함수 호출

2

In [ ]:
plus_one(10)

11

In [ ]:
plus = lambda x, y: x + y  # argument x, y를 전달받아서 x + y를 리턴하는 함수

In [ ]:
plus(10, 100)

110

In [ ]:
plus(1, 2)

3

lambda 표현식은 함수의 argument로 전달될 수 있음.

In [ ]:
calculator(1, 2, lambda x, y: x + y)

3

In [ ]:
calculator(1, 2, lambda x, y: x - y)

-1

In [ ]:
# calculator 함수에 나누기(/) 연산을 수행하는 lambda를 전달
calculator(x=1, y=2, fn=lambda x, y: x / y)

0.5

In [ ]:
# calculator 함수에 곱하기(*) 연산을 수행하는 lambda를 전달
calculator(x=12, y=12, fn=lambda x, y: x * y)

144

In [ ]:
# calculator 함수에 x가 y보다 큰 지를 리턴하는 lambda를 전달
calculator(3, 1, lambda x, y: x > y)

True

In [ ]:
calculator(1, 3, lambda x, y: x > y)

False

In [ ]:
# x와 y 중에서 더 큰 수를 리턴
calculator(1, 3, lambda x, y: max(x, y))

3

In [ ]:
# if expression(표현식): 값1 if 조건식 else 값2
calculator(10, 20, lambda x, y: x if x > y else y)

20

lambda 표현식 응용
*   filtering
    *   성별 컬럼에서 값이 'Male'인 데이터들만 선택
*   mapping
    *   성별 컬럼의 값이 'Male'이면 1, 'Female'이면 0을 매핑.

In [ ]:
numbers = [1, -2, 3, -4, -5, 6, 7, -8]

In [ ]:
# numbers의 아이템들 중 양수들로 이루어진 리스트(numbers에서 양수들만 필터링)
result = filter(lambda x: x > 0, numbers)
list(result)  # 필터링된 결과들로 이루어진 리스트를 생성

[1, 3, 6, 7]

In [ ]:
# numbers에서 음수들만 필터링
result = filter(lambda x: x < 0, numbers)
# 필터링된 결과를 리스트로 만듦.
list(result)

[-2, -4, -5, -8]

In [ ]:
def is_negative(x):
    return x < 0

result = filter(is_negative, numbers)
list(result)

[-2, -4, -5, -8]

In [ ]:
# numbers에서 홀수만 필터링
result = filter(lambda x: x % 2 != 0, numbers)
list(result)

[1, 3, -5, 7]

In [ ]:
# numbers에서 짝수는 'even', 홀수는 'odd' 매핑
result = map(lambda x: 'even' if x % 2 == 0 else 'odd', numbers)
list(result)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
genders = ['male', 'female', 'female', 'male']
# 'female' -> 0, 'male' -> 1 매핑
result = map(lambda x: 0 if x == 'female' else 1, genders)
# 매핑 결과를 리스트로 변환
list(result)

[1, 0, 0, 1]

In [ ]:
print(numbers)

# numbers의 양수들만 필터링된 리스트를 생성
positives = []  # 양수들만 저장할 빈 리스트 생성
for x in numbers:  # numbers의 원소들을 하나씩 꺼내면서 반복
    if x > 0:  #  numbers의 원소가 양수이면
        positives.append(x)  # 리스트에 추가

print(positives)  # 결과 확인

[1, -2, 3, -4, -5, 6, 7, -8]
[1, 3, 6, 7]

In [68]:
# numbers의 음수들만 필터링된 리스트를 생성
print(numbers)
negatives = [x for x in numbers if x < 0]
print(negatives)

[1, -2, 3, -4, -5, 6, 7, -8]
[-2, -4, -5, -8]

filter() 함수 map() 함수를 직접 구현

In [69]:
def my_filter(iterable, fn):
    """
    iterable: 리스트.
    fn: 리스트 iterable의 원소 하나를 argument로 전달받아서 True 또는 False를 리턴하는 함수.
    리스트 iterable의 원소들 중에서 함수 fn의 결과가 True가 되는 원소들로 이루어진 리스트를 리턴.
    """
    result = []  # 필터링된 결과를 저장할 빈 리스트
    for x in iterable:  # 리스트의 원소들을 하나씩 꺼내면서 반복
        if fn(x):  # 리스트의 원소를 argument로 전달한 함수의 리턴 결과가 True이면(필터링 조건을 만족하면)
            result.append(x)  # 결과 리스트에 추가

    return result

In [76]:
print(numbers)
# numbers에서 양수들만 필터링
my_filter(numbers, lambda x: x > 0)

[1, -2, 3, -4, -5, 6, 7, -8]

[1, 3, 6, 7]

In [71]:
languages = ['Python', 'R', 'SQL', 'Java', 'JavaScript', 'HTML', 'C/C++']
# languages에서 5글자 이상인 원소들을 필터링
my_filter(languages, lambda x: len(x) >= 5)

['Python', 'JavaScript', 'C/C++']

In [72]:
genders = ['male', 'female', 'female', 'male', 'female']
# genders에서 'male'만 필터링
my_filter(genders, lambda x: x == 'male')

['male', 'male']

In [73]:
ages = [16, 19, 20, 35, 55]
# ages에서 미성년(나이가 20 미만)을 필터링
my_filter(ages, lambda x: x < 20)

[16, 19]

In [77]:
def my_mapper(iterable, fn):
    """
    iterable: 리스트.
    fn: argument가 1개이고 리턴 값이 있는 함수.
    iterable의 원소들을 fn의 argument로 전달해서 리턴된 값들로 이루어진 리스트를 반환.
    """
    result = [fn(x) for x in iterable]
    return result

In [79]:
print(numbers)
# numbers의 원소들을 짝수이면 'even', 홀수이면 'odd' 매핑
my_mapper(numbers, lambda x: 'even' if x % 2 == 0 else 'odd')

[1, -2, 3, -4, -5, 6, 7, -8]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [81]:
print(languages)
# languages의 글자수로 이루어진 리스트
my_mapper(languages, lambda x: len(x))

['Python', 'R', 'SQL', 'Java', 'JavaScript', 'HTML', 'C/C++']

[6, 1, 3, 4, 10, 4, 5]

In [84]:
print(genders)
# female -> 0, male -> 1
my_mapper(genders, lambda x: 0 if x == 'female' else 1)

['male', 'female', 'female', 'male', 'female']

[1, 0, 0, 1, 0]