<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py17_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

함수(function)는 객체(object)이다.
*   함수는 변수에 할당할 수 있음.
*   함수의 argument로 함수를 전달할 수 있음.
*   함수의 return value가 함수가 될 수 있음. 함수는 함수를 반환할 수 있음.
*   함수 내부에서 다른 함수를 정의(선언)할 수 있음.

In [1]:
x = 1  # 정수 1을 변수 x에 할당(저장)
y = x  # 변수 x의 값을 변수 y에 할당
print('x =', x)
print('y =', y)

x = 1
y = 1

In [2]:
# 함수 정의(선언)
def twice(x):
    return 2 * x

In [3]:
result = twice(5)  # 함수 호출
print('result =', result)

result = 10

In [10]:
twice  # twice 객체를 콘솔창에 출력

In [13]:
double = twice  # 함수 객체는 변수에 할당할 수 있음.
print(double)  # 변수 double은 함수 객체
result = double(5)  # 변수 이름으로 함수를 호출
print('result =', result)

<function twice at 0x7f3ae2f59320>
result = 10

argument로 함수를 전달받는 함수 예제

In [14]:
def calculator(x, y, fn):
    """
    x, y: 숫자(int, float)
    fn: 숫자 2개를 argument로 전달받고, 숫자를 리턴하는 함수
    """
    result = fn(x, y)
    return result

In [15]:
def plus(x, y):
    return x + y

In [16]:
plus(1, 2)

3

In [17]:
calculator(1, 2, plus)

3

In [18]:
def minus(x, y):
    return x - y

In [19]:
calculator(1, 2, minus)

-1

In [20]:
def greater(x, y):
    if x > y:
        return x
    else:
        return y

In [21]:
calculator(1, 2, greater)

2

In [22]:
calculator(1, 2, max)

2

함수 내부에서 함수를 선언하고, 함수를 리턴하는 예제

In [24]:
def make_incrementor(n):
    # 내부 함수(inner function), 지역 함수(local function): 함수 내부에서 정의된 함수
    def add_n(x):
        # 내부 함수는 외부 함수의 지역변수, 파라미터를 사용할 수 있음.
        return x + n
    
    # make_incrementor 함수가 add_n 함수를 리턴
    return add_n

In [25]:
increase_by_2 = make_incrementor(2)
print(increase_by_2)  #> make_incrementor()의 결과는 함수

<function make_incrementor.<locals>.add_n at 0x7f3ae2e897a0>

In [26]:
increase_by_2(10)  #> 함수 호출

12

In [27]:
increase_by_10 = make_incrementor(10)
increase_by_10(10)

20