<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py19_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 배경 설명

## list, dict를 사용

In [1]:
#  학생, 과목 점수 리스트
students = [
            {'name': 'aaa', 'korean': 90, 'english': 80, 'math': 70},
            {'name': 'bbb', 'korean': 70, 'english': 100, 'math': 98},
            {'name': 'ccc', 'korean': 85, 'english': 50, 'math': 88},
            {'name': 'ddd', 'korean': 100, 'english': 70, 'math': 60},
            {'name': 'eee', 'korean': 95, 'english': 90, 'math': 50}
]

In [2]:
# 각 학생의 3과목 총점과 평균을 출력
for s in students:
    total = s['korean'] + s['english'] + s['math']
    avg = total / 3
    print(f'이름: {s["name"]}, 총점: {total}, 평균: {avg}')

이름: aaa, 총점: 240, 평균: 80.0
이름: bbb, 총점: 268, 평균: 89.33333333333333
이름: ccc, 총점: 223, 평균: 74.33333333333333
이름: ddd, 총점: 230, 평균: 76.66666666666667
이름: eee, 총점: 235, 평균: 78.33333333333333

위 프로그래밍 방식의 문제점은 dict의 키는 중복되지 않게만 설정하면 되기 때문에, 반복문을 사용해서 총점과 평균을 계산, 출력하는 기능을 만들 수 없는 경우가 발생할 수도 있다.

## 함수형 프로그래밍(Functional Programming)

In [3]:
def create_student(name, korean, english, math):
    """name, korean, english, math를 키로 갖는 dict 객체를 리턴."""
    student = {'name': name,
               'korean': korean,
               'english': english,
               'math': math}
    return student

In [4]:
students = [
            create_student('aaa', 100, 90, 80),
            create_student('bbb', 90, 80, 70),
            create_student('ccc', 88, 99, 77),
            create_student('ddd', 50, 40, 60),
            create_student('eee', 100, 50, 70)
]

In [5]:
def get_student_total(student):
    """student dict에서 총점을 계산해서 리턴
    """
    total = student['korean'] + student['english'] + student['math']
    return total

In [6]:
def get_student_average(student):
    """student dict에서 평균을 계산해서 리턴
    """
    total = get_student_total(student)
    avg = total / 3
    return avg

In [7]:
for s in students:
    total = get_student_total(s)
    avg = get_student_average(s)
    print(f'이름: {s["name"]}, 총점: {total}, 평균: {avg}')

이름: aaa, 총점: 270, 평균: 90.0
이름: bbb, 총점: 240, 평균: 80.0
이름: ccc, 총점: 264, 평균: 88.0
이름: ddd, 총점: 150, 평균: 50.0
이름: eee, 총점: 220, 평균: 73.33333333333333

총점과 평균을 계산하는 함수는 학생 dict와 매우 밀접한 관계를 맺고 있음.

서로 관계를 맺고 있는 데이터(이름, 3과목 점수)와 기능(총점 계산, 평균 계산) 하나로 묶을 수 있을까?

# 객체 지향 프로그래밍(OOP: Objected-Oriented Programming)

* 객체(object): 소프트웨어로 구현할 대상. 자료 구조.
* 클래스(class): 객체를 구현하기 위한 설계도. 코드.
    * 속성(attribute): 객체가 가져야 하는 데이터. 변수에 저장되는 값.
    * 메서드(method): 객체가 가져야 하는 기능. 클래스 내부에서 정의하는 함수.
* 인스턴스(instance): 설계도인 클래스에 따라서 메모리에 생성된 객체.
* 인스턴스 생성(instantiate): 클래스의 객체를 메모리에 생성하는 것.
* 생성자(constructor): 클래스의 이름과 동일한 함수.
    * 생성자를 호출하면 클래스에서 정의된 `__init__` 메서드가 자동으로 호출됨.

In [8]:
# 클래스 정의(선언)
class Student:
    # 생성자 함수: 속성들을 선언하고 초기화
    def __init__(self, name, korean, english, math):
        self.name = name
        self.korean = korean
        self.english = english
        self.math = math

    # 메서드
    def get_sum(self):
        """3과목의 총점을 리턴."""
        return self.korean + self.english + self.math

    def get_average(self):
        """3과목의 평균을 리턴."""
        sum = self.get_sum()
        avg = sum / 3
        return avg

In [9]:
# Student 클래스의 인스턴스 생성: 생성자 함수 호출 -> 클래스의 __init__ 메서드가 호출됨
student_1 = Student(name='오쌤', korean=100, english=100, math=100)
print(student_1)
print('이름:', student_1.name)  # student_1 인스턴스가 가지고 있는 name 속성
print('국어 점수:', student_1.korean)  # 인스턴스의 속성 참조
print('영어 점수:', student_1.english)
print('수학 점수:', student_1.math)
print('총점:', student_1.get_sum())  # 인스턴스의 메서드 호출
print('평균:', student_1.get_average())

<__main__.Student object at 0x7f43f4d9e8d0>
이름: 오쌤
국어 점수: 100
영어 점수: 100
수학 점수: 100
총점: 300
평균: 100.0

In [10]:
student_2 = Student('홍길동', 100, 50, 98)
print(student_2)
print('이름:', student_2.name)  # 인스턴스의 속성 참조
print('국어 점수:', student_2.korean)
print('영어 점수:', student_2.english)
print('수학 점수:', student_2.math)
print('총점:', student_2.get_sum())  # 인스턴스의 메서드 호출
print('평균:', student_2.get_average())

<__main__.Student object at 0x7f43f12fc8d0>
이름: 홍길동
국어 점수: 100
영어 점수: 50
수학 점수: 98
총점: 248
평균: 82.66666666666667

In [11]:
students = [
            Student('aaa', 100, 90, 80),
            Student('bbb', 90, 70, 80),
            Student('ccc', 50, 60, 70)
]

In [12]:
for s in students:
    # total = s.get_sum()
    # avg = s.get_average()
    # print(f'이름: {s.name}, 총점: {total}, 평균: {avg}')
    print(f'이름: {s.name}, 총점: {s.get_sum()}, 평균: {s.get_average()}')

이름: aaa, 총점: 270, 평균: 90.0
이름: bbb, 총점: 240, 평균: 80.0
이름: ccc, 총점: 180, 평균: 60.0

## 객체 사용 예제

In [13]:
numbers1 = list()  # list 클래스 생성자 호출 - list 인스턴스 생성
print(type(numbers1))

<class 'list'>

In [14]:
numbers1.append(10)  # list 객체(인스턴스)의 메서드 호출
numbers1.append(20)
numbers1.append(30)
print(numbers1)

[10, 20, 30]

In [15]:
numbers2 = list()  # list 클래스 생성자 호출 - list 인스턴스 생성
numbers2.append(100)  # list 인스턴스의 메서드 호출
numbers2.append(50)
print(numbers2)

[100, 50]