<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py21_class_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1. Score 클래스

* 속성(attributes):
    * 국어, 영어, 수학 점수
    * 국어, 영어, 수학 점수의 기본값은 0.
* 기능(functionality):
    * `__repr__`: `Score(국어=100, 영어=100, 수학=100)` 포맷을 리턴
    * `calculate_sum`: 세 과목의 총점 리턴
    * `calculate_mean`: 세 과목의 평균 리턴

In [7]:
class Score:
    def __init__(self, korean=0, english=0, math=0):
        self.korean = korean
        self.english = english
        self.math = math
    
    def __repr__(self):
        return f'Score(국어={self.korean}, 영어={self.english}, 수학={self.math})'

    def calculate_sum(self):
        return self.korean + self.english + self.math

    def calculate_mean(self):
        return self.calculate_sum() / 3

In [8]:
score_1 = Score()
print(score_1)
print('총점:', score_1.calculate_sum())
print('평균:', score_1.calculate_mean())

Score(국어=0, 영어=0, 수학=0)
총점: 0
평균: 0.0

In [9]:
score_2 = Score(korean=100, english=90)
print(score_2)
print('총점:', score_2.calculate_sum())
print('평균:', score_2.calculate_mean())

Score(국어=100, 영어=90, 수학=0)
총점: 190
평균: 63.333333333333336

# Ex2. Student 클래스

* 속성(attributes):
    * 학생 이름, 점수(Score 객체)
* 기능(functionality):
    * `__repr__`: `Student(이름: 홍길동, 점수: Score(국어=100, 영어=100, 수학=100))` 포맷을 리턴
* 테스트
    * Student 객체(인스턴스)를 생성.
    * 생성된 객체에서 총점, 평균을 계산하는 메서드를 호출.

In [13]:
class Student:
    def __init__(self, name, k=0, e=0, m=0):
        self.name = name
        self.korean = k
        self.english = e
        self.math = m
    
    def __repr__(self):
        return f'Student(이름: {self.name}, 점수: Score(국어={self.korean}, 영어={self.english}, 수학={self.math}))'

    def calculate_sum(self):
        return self.korean + self.english + self.math

    def calculate_mean(self):
        return self.calculate_sum() / 3

In [15]:
stu = Student('홍길동', 100, 100, 100)
print(stu)  #> Student(이름: 홍길동, 점수: Score(국어=100, 영어=100, 수학=100))
print('총점:', stu.calculate_sum())
print('평균:', stu.calculate_mean())

Student(이름: 홍길동, 점수: Score(국어=100, 영어=100, 수학=100))
총점: 300
평균: 100.0

In [23]:
class Student:
    def __init__(self, name, score):
        self.name = name
        self.korean = score.korean
        self.english = score.english
        self.math = score.math

    def __repr__(self):
        return f'Student(이름: {self.name}, 점수: Score(국어={self.korean}, 영어={self.english}, 수학={self.math}))'

    def calculate_sum(self):
        return self.korean + self.english + self.math

    def calculate_mean(self):
        return self.calculate_sum() / 3

In [26]:
stu_2 = Student('오쌤', score_2)
print(stu_2)
print('총점:', stu_2.calculate_sum())
print('평균:', stu_2.calculate_mean())

Student(이름: 오쌤, 점수: Score(국어=100, 영어=90, 수학=0))
총점: 190
평균: 63.333333333333336

In [27]:
class Student:
    def __init__(self, name, score):
        self.name = name
        self.score = score

    def __repr__(self):
        return f'Student(이름: {self.name}, 점수: {self.score})'

In [30]:
gil_dong = Student(name='홍길동', score=score_1)
print(gil_dong)
print('국어:', gil_dong.score.korean)
print('총점:', gil_dong.score.calculate_sum())
print('평균:', gil_dong.score.calculate_mean())

Student(이름: 홍길동, 점수: Score(국어=0, 영어=0, 수학=0))
국어: 0
총점: 0
평균: 0.0

# Ex3. self를 리턴하는 메서드

* 메서드 연쇄 호출(method chain call)

In [44]:
class MyNumber:
    def __init__(self, x=0.0):
        self.x = x
    
    def __repr__(self):
        return str(self.x)

    def add(self, other):
        self.x += other.x  # self.x = self.x + other.x
        return self
    
    def subtract(self, other):
        self.x -= other.x  # self.x = self.x - other.x
        return self

    def multiply(self, other):
        self.x *= other.x  # self.x = self.x * other.x
        return self

    def divide(self, other):
        self.x /= other.x  # self.x = self.x / other.x
        return self

In [46]:
num1 = MyNumber(1)
print(num1)  # print(num1.__repr__())

num2 = MyNumber(2)
print(num2)

num1.add(num2).subtract(num2).add(num1).multiply(num2)
print(num1)

1
2
4