<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py24_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 메서드(string methods)

In [1]:
s = 'heLLo pyTHOn!'  # str 클래스의 인스턴스 생성

In [2]:
s

'heLLo pyTHOn!'

In [3]:
# str.lower(): str을 소문자로 변환한 (새로운) 문자열을 리턴. 원본 문자열은 바뀌지 않음!
print(s.lower())
print(s)

hello python!
heLLo pyTHOn!

In [4]:
# str.upper(): str을 대문자로 변환한 (새로운) 문자열을 리턴.
s.upper()

'HELLO PYTHON!'

In [5]:
# list(iterable): iterable 객체를 list로 변환해서 리턴
list('hello')  # str -> 문자들의 리스트

['h', 'e', 'l', 'l', 'o']

In [6]:
# str.count(sub): 문자열 str 안에 sub가 몇 번 등장하는 지를 리턴.
print(s)
print(s.count('L'))
print(s.count('o'))
print(s.count('LL'))
print(s.count('LL', 0, 5))  # 0 <= index < 5 범위의 문자열 내에서
print(s.count('LL', 5))  # 5 <= index 범위의 문자열 내에서

heLLo pyTHOn!
2
1
1
1
0

In [7]:
# str.startswith(패턴): 문자열 str이 '패턴'으로 시작하면 True, 그렇지 않으면 False 리턴.
url = 'https://www.google.com/'
url.startswith('http')

True

In [8]:
# str.endswith(패턴): 문자열 str이 '패턴'으로 끝나면 True, 그렇지 않으면 False를 리턴.
phone = '010-1234-5678'
phone.endswith('0000')

False

In [9]:
# str.find(패턴): 문자열 str에서 '패턴'이 등장하는 가장 낮은 인덱스를 리턴. 
# 만약 패턴을 못 찾으면 -1을 리턴.
email = 'abc.def@gmail.com'
idx = email.find('@')
print('idx =', idx)
# 인덱스를 사용한 문자열 slicing
print(email[:idx])  # 0 <= index < idx 범위의 substring
print(email[(idx + 1):])  # idx <= index 범위의 substring

idx = 7
abc.def
gmail.com

In [10]:
sentence = 'Apollo 15 (July 26 – August 7, 1971) was the fourth crewed mission to land on the Moon.'

In [11]:
# str.split(): 공백(space, tab, enter)을 기준으로 문자열을 잘라서 단어들의 리스트를 만들고 리턴.
sentence.split()

['Apollo',
 '15',
 '(July',
 '26',
 '–',
 'August',
 '7,',
 '1971)',
 'was',
 'the',
 'fourth',
 'crewed',
 'mission',
 'to',
 'land',
 'on',
 'the',
 'Moon.']

In [12]:
date = '2021-07-30'
date.split(sep='-')

['2021', '07', '30']

In [13]:
csv = '홍길동,100,90,50'
csv.split(sep=',')

['홍길동', '100', '90', '50']

In [14]:
# str.join(iterable): iterable이 갖고 있는 단어들을 str으로 붙여서 하나의 문자열을 만들고 리턴.
'-'.join(['2021', '07', '30'])

'2021-07-30'

In [15]:
' '.join(['홍길동', '100', '90', '50'])

'홍길동 100 90 50'

In [19]:
sentence = '     Hello, Python!        안녕하세요...       '
print(sentence)

# str.lstrip(): 문자열의 왼쪽(시작 부분)에 있는 모든 공백을 제거한 문자열을 리턴.
print(sentence.lstrip())
# str.rstrip(): 문자열의 오른쪽(끝나는 부분)에 있는 모든 공백을 제거한 문자열을 리턴.
print(sentence.rstrip())
# str.strip(): 문자열의 시작과 끝에 있는 모든 공백을 제거한 문자열을 리턴
print(sentence.strip())

     Hello, Python!        안녕하세요...
Hello, Python!        안녕하세요...
     Hello, Python!        안녕하세요...
Hello, Python!        안녕하세요...

In [22]:
sentence = '<<<hello 안녕하세요>>>'
sentence.strip('<').strip('>')

'hello 안녕하세요'

In [27]:
sentence = 'Hello,Python,안녕하세요,100'

# str.replace(old, new): 문자열 str에서 나오는 old 패턴을 new로 대체한 문자열을 리턴.
sentence.replace(',', '::')

'Hello::Python::안녕하세요::100'