<a href="https://colab.research.google.com/github/JakeOh/202105_itw_bd26/blob/main/lab_python/py26_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* colab 연결
* google drive를 마운트(연결)
* csv_exam.csv 파일을 google drive에 업로드
* 업로드된 파일 경로 복사

In [1]:
file_path = '/content/drive/MyDrive/Colab Notebooks/lab_python/csv_exam.csv'

1. csv_exam.csv 파일을 오픈
2. 파일에서 첫번째 줄을 읽고 아무 동작없이 건너뜀. (파일의 첫번째 줄은 컬럼 이름이기 때문에)
3. 파일의 두번째 줄부터 끝까지 4번 내용을 반복 
4. 각 줄에서 읽은 내용을 쉼표(,)로 구분(분리)한 리스트를 빈 리스트에 append
>   `[['1', '1', '50', '98', '50'], ['2', '1', '60', '9', '60'], ...]`
5. 2차원 리스트의 모든 값들을 숫자로 변환
>   `[[1, 1, 50, 98, 50], [2, 1, 60, 9, 60], ...]`
6. 수학 점수로만 이루어진 1차원 리스트를 생성
>   `[50, 60, 45, ...]`
7. 수학 점수 최댓값, 최솟값, 평균
8. 1반 학생들의 수학 점수 총점, 평균, 최댓값, 최솟값

In [2]:
with open(file_path) as f:  # 파일을 read text 모드로 오픈
    f.readline()  # 파일의 첫번째 줄을 읽고 skip
    exam = []  # 각 줄의 내용을 저장할 빈 리스트
    for line in f:  # 파일의 두번째 줄부터 끝까지 반복
        exam.append(line.strip().split(sep=','))

exam

[['1', '1', '50', '98', '50'],
 ['2', '1', '60', '97', '60'],
 ['3', '1', '45', '86', '78'],
 ['4', '1', '30', '98', '58'],
 ['5', '2', '25', '80', '65'],
 ['6', '2', '50', '89', '98'],
 ['7', '2', '80', '90', '45'],
 ['8', '2', '90', '78', '25'],
 ['9', '3', '20', '98', '15'],
 ['10', '3', '50', '98', '45'],
 ['11', '3', '65', '65', '65'],
 ['12', '3', '45', '85', '32'],
 ['13', '4', '46', '98', '65'],
 ['14', '4', '48', '87', '12'],
 ['15', '4', '75', '56', '78'],
 ['16', '4', '58', '98', '65'],
 ['17', '5', '65', '68', '98'],
 ['18', '5', '80', '78', '90'],
 ['19', '5', '89', '68', '87'],
 ['20', '5', '78', '83', '58']]

In [3]:
for row in exam:
    for i, v in enumerate(row):
        row[i] = int(v)
exam

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [4]:
exam[0][1]

1

In [5]:
for i, row in enumerate(exam):
    for j, x in enumerate(row):
        exam[i][j] = int(x)

exam

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [6]:
with open(file_path) as f:
    print(f.readline())
    exam = []
    for line in f:
        row = line.strip().split(',')
        student = [int(x) for x in row]
        exam.append(student)

exam

id,class,math,english,science

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [7]:
# math = []
# for row in exam:
#     math.append(row[2])

math = [row[2] for row in exam]

print(math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [8]:
print('max:', max(math))
print('min:', min(math))

max: 90
min: 20

In [9]:
math_mean = sum(math) / len(math)
print('mean:', math_mean)

mean: 57.45

In [10]:
math_class1 = []  # 1반 학생들의 수학 점수를 저장할 리스트
for row in exam:  # 2차원 리스트에서 1차원 리스트를 하나씩 꺼내면서 반복
    if row[1]  == 1:  # class 값이 1이면
        math_class1.append(row[2])  # 수학 점수를 리스트에 추가

print(math_class1)

[50, 60, 45, 30]

In [11]:
# 2반 학생들의 수학 점수
math_class2 = [row[2] for row in exam if row[1] == 2]
print(math_class2)

[25, 50, 80, 90]

In [12]:
print('총점:', sum(math_class1))
print('평균:', sum(math_class1) / len(math_class1))
print('최댓값:', max(math_class1))
print('최솟값:', min(math_class1))

총점: 185
평균: 46.25
최댓값: 60
최솟값: 30


* id, class, math, english, science를 속성으로 갖는 클래스 Student를 구현
    * `__init__`
    * `__repr__`
* csv_exam.csv 파일을 열고, 한 줄씩 Student 객체를 생성하고 리스트에 추가(append)
* 각 과목(수학, 영어, 과학)의 평균을 계산
* 1반 학생들의 각 과목 평균을 계산

In [17]:
class Student:
    def __init__(self, id, cls, math, english, science):
        self.id = int(id)
        self.cls = int(cls)
        self.math = int(math)
        self.english = int(english)
        self.science = int(science)

    def __repr__(self):
        return f'Student(id={self.id}, class={self.cls}, math={self.math}, english={self.english}, science={self.science})'

In [18]:
exams = []
with open(file_path) as f:
    f.readline()  # 파일의 첫번째 줄은 컬럼 이름이므로 읽고 넘어감.
    for line in f:
        score = line.strip().split(sep=',')
        student = Student(score[0], score[1], score[2], score[3], score[4])
        exams.append(student)

exams

[Student(id=1, class=1, math=50, english=98, science=50),
 Student(id=2, class=1, math=60, english=97, science=60),
 Student(id=3, class=1, math=45, english=86, science=78),
 Student(id=4, class=1, math=30, english=98, science=58),
 Student(id=5, class=2, math=25, english=80, science=65),
 Student(id=6, class=2, math=50, english=89, science=98),
 Student(id=7, class=2, math=80, english=90, science=45),
 Student(id=8, class=2, math=90, english=78, science=25),
 Student(id=9, class=3, math=20, english=98, science=15),
 Student(id=10, class=3, math=50, english=98, science=45),
 Student(id=11, class=3, math=65, english=65, science=65),
 Student(id=12, class=3, math=45, english=85, science=32),
 Student(id=13, class=4, math=46, english=98, science=65),
 Student(id=14, class=4, math=48, english=87, science=12),
 Student(id=15, class=4, math=75, english=56, science=78),
 Student(id=16, class=4, math=58, english=98, science=65),
 Student(id=17, class=5, math=65, english=68, science=98),
 Student(id=18, class=5, math=80, english=78, science=90),
 Student(id=19, class=5, math=89, english=68, science=87),
 Student(id=20, class=5, math=78, english=83, science=58)]

In [27]:
class Student2:
    def __init__(self, score):
        self.id = int(score[0])
        self.cls = int(score[1])
        self.math = int(score[2])
        self.english = int(score[3])
        self.science = int(score[4])
    
    def __repr__(self):
        return f'Student(id={self.id}, class={self.cls}, math={self.math}, english={self.english}, science={self.science})'

In [28]:
exams = []
with open(file_path) as f:
    f.readline()
    for line in f:
        student = Student2(line.strip().split(sep=','))
        exams.append(student)

exams

[Student(id=1, class=1, math=50, english=98, science=50),
 Student(id=2, class=1, math=60, english=97, science=60),
 Student(id=3, class=1, math=45, english=86, science=78),
 Student(id=4, class=1, math=30, english=98, science=58),
 Student(id=5, class=2, math=25, english=80, science=65),
 Student(id=6, class=2, math=50, english=89, science=98),
 Student(id=7, class=2, math=80, english=90, science=45),
 Student(id=8, class=2, math=90, english=78, science=25),
 Student(id=9, class=3, math=20, english=98, science=15),
 Student(id=10, class=3, math=50, english=98, science=45),
 Student(id=11, class=3, math=65, english=65, science=65),
 Student(id=12, class=3, math=45, english=85, science=32),
 Student(id=13, class=4, math=46, english=98, science=65),
 Student(id=14, class=4, math=48, english=87, science=12),
 Student(id=15, class=4, math=75, english=56, science=78),
 Student(id=16, class=4, math=58, english=98, science=65),
 Student(id=17, class=5, math=65, english=68, science=98),
 Student(id=18, class=5, math=80, english=78, science=90),
 Student(id=19, class=5, math=89, english=68, science=87),
 Student(id=20, class=5, math=78, english=83, science=58)]

In [30]:
# exams에서 수학 점수들만 저장한 리스트
maths = [s.math for s in exams]
print(maths)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [31]:
print('max:', max(maths))
print('min:', min(maths))
print('mean:', sum(maths) / len(maths))

max: 90
min: 20
mean: 57.45

In [34]:
maths_class1 = [s.math for s in exams if s.cls == 1]
print(maths_class1)
print('mean:', sum(maths_class1) / len(maths_class1))

[50, 60, 45, 30]
mean: 46.25

In [36]:
english_class1 = [s.english for s in exams if s.cls == 1]
print(english_class1)
print('mean:', sum(english_class1) / len(english_class1))

[98, 97, 86, 98]
mean: 94.75